@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap");
html {
  font-size: 20px;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.casa {
  display: flex;
  flex-wrap: wrap;
}

.casa-papa {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .casa-papa {
    width: 50%;
  }
}
.casa-papa .wha {
  padding: 1rem;
}
.casa-papa .wha a {
  display: block;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.papa-view {
  position: relative;
  height: 1333px;
  width: 100%;
}

.regresar {
  position: fixed;
  z-index: 100;
  top: 40px;
  right: 40px;
  background-color: aqua;
  color: red;
  padding: 1.5rem;
  font-size: 0.7rem;
  transform: rotate(15deg);
  text-decoration: none;
}

.papa-bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.sea-button {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
  background-color: aqua;
  color: red;
  padding: 1.5rem;
  transform: rotate(-15deg);
}
